<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FacebookDataExtractor(FDE)</title>
</head>
<body>
  <h1>FDE</h1>
  <% if session['access_token'] %>
    You are logged in! <a href="/logout">Logout</a>
  <% end %>

  <% if session['access_token'].nil? %>
    <a href="/login">Login</a>
  <% end %>

  <% if session['access_token'] %>
  <form class="query" method="get">
    <input type="date" name="post_since" value="<%= params[:post_since] || (Date.today - 30).to_s %>">
    <input type="date" name="post_until" value="<%= params[:post_until] || (Date.today).to_s %>">
    <button>取得</button>
  </form>

  <div class="result" style="border:1px solid #ddd;font-size:10px;">
    <% if !@results.nil? %>
      <p>Fetched: <%= @results.count %> items. </p>
      <ul>
        <% @results.each do |r| %>
          <li><%= r %></li>
        <% end %>
      </ul>
      <% if !@results.previous_page_params.nil? %>
        <a href="./?page=<%= URI.escape(@results.previous_page_params.to_json) %>">Previous</a>
      <% end %>

      <% if !@results.next_page_params.nil? %>
        <a href="./?page=<%= URI.escape(@results.next_page_params.to_json) %>">Next</a>
      <% end %>
    <% end %>
  </div>
  <% end %>
</body>
</html>
